<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="CPHAirportDBEntities" connectionString="metadata=res://*/ADO.csdl|res://*/ADO.ssdl|res://*/ADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CPHAirportDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="CPHAirportDBEntities1" connectionString="metadata=res://*/Airport.csdl|res://*/Airport.ssdl|res://*/Airport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CPHAirportDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>